#banner
	.banner_content
		%h1 Моя Практика 1.0
		%p Твой онлайн сервис для ведения частной практики клиентов
		%button= link_to "Зарегистрироваться", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Консультации и клиенты, записи и профессиональное развитие. Все теперь под рукой."
		%p.name - Варвара Семенихина
#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-files-o 
				%h2 Документы
				%p Хранение документов, аудио записей, шаблонов консультирования, своя личная библиотека специалиста для хранения документов и знаний.

			.callout
				%i.fa.fa-pencil
				%h2 Записи
				%p Ведение записей о консультациях, клиентах, своем профессиональном росте. 

			.callout
				%i.fa.fa-calendar 
				%h2 Календарь
				%p Запись на консультацию, личные супервизии, групповые встречи, назначение длительных консультаций с конкретным клиентом. Календарь успешного специалиста.
#bottom_cta
	.wrapper
		%h2 Начать
		%p Зарегистрируйтесь и начните использовать приложение "Моя Практика1.0"
		%button= link_to "Зарегистрироваться", new_user_registration_path

%footer
	%p &copy; Варвара Семенихина